<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" type="text/css" href="{% static 'meteorite_app/css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="titleBar">
        <h1>Meteorite Explorer</h1>
    </div>
    <div>
        <form></form>
    </div>
</body>
</html>